@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

img {
    width: 100%;
}

body {
    background-color: rgb(63, 63, 63);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Concert One', sans-serif;
    margin: 0;
}

.img-background {
    position: absolute;
    z-index: -1;
    display: flex;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
}

.img-background img {
    width: 25%;
    height: 20%;
    object-fit: cover;
}

.b-card {
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
    padding: 1rem;
    color: #262626;
    background: #f6f6f6;

}

.b-card [bx-head] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
}

.b-logo {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-right: 1rem;
    border: 2px solid #bbb;
}

.b-icon {
    width: 24px;
    height: 24px;
}
@media (max-width:767px) {
    .img-background img {
        width: 50%;
    }
}