@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

img {
    width: 100%;
}

body {
    background-color: rgb(63, 63, 63);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Concert One', sans-serif;
    margin: 0;
    position: relative;
}

.img-background {
    position: absolute;
    z-index: -1;
    display: flex;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
    transform: skew(-4deg, -3deg) scale(1.2);
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-background img {
    width: 336px;
    height: 188px;
    object-fit: cover;
}

.over {
    position: absolute;
    background: linear-gradient(45deg, black, transparent);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.b-card {
    width: 400px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
    padding: 1rem;
    color: #262626;
    background: #00000077;
    z-index: 1;
}

.b-card [bx-head] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
}

.b-logo {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-right: 1rem;
    border: 2px solid #bbb;
}

.b-icon {
    width: 24px;
    height: 24px;
}

@media (max-width:767px) {
    .img-background img {
        width: 176px;
        height: 98px;
    }
}

/* @media (min-width:1200px) {
    .img-background img {
        width: 20%;
    }
} */

.b-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
}

.b-links a {
    background: red;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: .5s background;
}
.b-links a:hover{
    background: rgb(171, 0, 0); 
}
.b-links a:last-child{
    margin-bottom: 0;
}

.b-links a span {
    margin-left: 1rem;
}